{{!--layouts/dashlayout.hbs---}}
  {{!-- {{#each users}} --}}
<div class="container">
    {{#each dashsettings}}
    
      <div class="flipBox" id='box{{placement}}'>
        <div class='front widget{{widgetid}}'>
            <div class='widget'>

              <i class="fa fa-plus-circle fa-4x" aria-hidden="true"></i>
              {{!-- placement{{placement}}
                widgetid {{widgetid}} --}}

              
              
                

            </div>
         
        </div>
        {{!-- move this out of the each  --}}
        <div class='back'> 
              <div onclick="date(this)" class='date option'><i class="fa fa-calendar-o" aria-hidden="true"></i> Date</div>
              <div onclick="calendar(this)" class='calendar option'><i class="fa fa-calendar" aria-hidden="true"></i> Calendar</div>
              <div onclick="clock(this)" class='clock option'><i class="fa fa-clock-o" aria-hidden="true"></i> Clock</div>
              <div onclick="weather(this)" class='weather option'><i class="fa fa-sun-o" aria-hidden="true"></i> Weather</div>
              <div onclick="forecast(this)" class='forecast option'><i class="fa fa-cloud" aria-hidden="true"></i> Forecast</div>
              <div onclick="news(this)"  class='news option'><i class="fa fa-newspaper-o" aria-hidden="true"></i> News</div>
              <div onclick="greeting(this,'{{nickname}}')" class='greeting option'><i class="fa fa-comment-o" aria-hidden="true" data-name="{{nickname}}"></i> Greeting</div>
              <div onclick="reminder(this,'{{reminder}}')" class='reminder option'><i class="fa fa-bell" aria-hidden="true" data-reminder="{{reminder}}"></i> Reminder</div>
              
          </div>
        </div>
        
    {{/each}}
    
</div>

{{!-- <form method="post">
<input type="submit" value="Submit">
</form> --}}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="/javascripts/jquery.flip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flipclock/0.7.8/flipclock.min.js"></script>
<script type="text/javascript" src="/jqwidgets/jqxcore.js"></script>
<script type="text/javascript" src="/jqwidgets/jqxdatetimeinput.js"></script>
<script type="text/javascript" src="/jqwidgets/jqxcalendar.js"></script>
<script type="text/javascript" src="/jqwidgets/globalization/globalize.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.simpleWeather/3.1.0/jquery.simpleWeather.min.js"></script>
<script src="https://use.fontawesome.com/1092cb84a3.js"></script>
<script src="/javascripts/main.js"></script>