{{!--layouts/dashlayout.hbs---}}
  {{#each members}}
  <ul>  
    <li>userid: {{userid}}</li>
    <li>username: {{username}}</li>
    <li>nickname: {{nickname}}</li>
    <li>location: {{location}}</li>
    <li>timezone: {{timezone}}</li>
  </ul>
  {{/each}}
  
<div class='widget-rows'>
    <div class='three-widget-row'>
      <div class="flip">
        <div class="front">
          <div>Widget box 1
            <div class='widget'></div>
          </div>
        </div>
        <div class='back'>
          back
          <div class="dropdown">
            <button type='button' class="dropbtn">+</button>
            <div class="dropdown-content">
              <a type='button' onclick="clock(this)" class='clock'>Clock</a>
              <a type='button' onclick="weather(this)" class='weather'>Weather</a>
              <a type='button' onclick="rss(this)" class='news'>News</a>
              <a type='button' onclick="message()">Message</a>
            </div>
          </div>
        </div>
      </div>

      <div class="flip">
        <div class="front">
          <div>Widget box 2
            <div class='widget'></div>
          </div>
        </div>
        <div class='back'>
          back
          <div class="dropdown">
            <button type='button' class="dropbtn">+</button>
            <div class="dropdown-content">
              <a type='button' onclick="clock(this)" class='clock'>Clock</a>
              <a type='button' onclick="weather(this)" class='weather'>Weather</a>
              <a type='button' onclick="rss(this)" class='news'>News</a>
              <a type='button' onclick="message()">Message</a>
            </div>
          </div>
        </div>
      </div>
      <div class="flip">
        <div class="front">
          <div>Widget box 3
            <div class='widget'></div>
          </div>
        </div>
        <div class='back'>
          back
          <div class="dropdown">
            <button type='button' class="dropbtn">+</button>
            <div class="dropdown-content">
              <a type='button' onclick="clock(this)" class='clock'>Clock</a>
              <a type='button' onclick="weather(this)" class='weather'>Weather</a>
              <a type='button' onclick="rss(this)" class='news'>News</a>
              <a type='button' onclick="message()">Message</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class='widget-rows-long'>
    <div class='two-widget-column'>
      <div class="flip">
        <div class="front">
          {{!-- <div class='two-widget-column'> --}}
          <div class = "long">Widget box 4 long
            <div class='widget'></div>
          </div>
        </div>
        <div class='back'>
          back
          <div class="dropdown">
            <button type='button' class="dropbtn">+</button>
            <div class="dropdown-content">
              <a type='button' onclick="clock(this)" class='clock'>Clock</a>
              <a type='button' onclick="weather(this)" class='weather'>Weather</a>
              <a type='button' onclick="rss(this)" class='news'>News</a>
              <a type='button' onclick="message()">Message</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='two-widget-column'>
      <div class="flip">
        <div class="front">
          
          <div class='long'>Widget box 5 long
            <div class='widget'></div>
          </div>
        </div>
        <div class='back'>
          back
          <div class="dropdown">
            <button type='button' class="dropbtn">+</button>
            <div class="dropdown-content">
              <a type='button' onclick="clock(this)" class='clock'>Clock</a>
              <a type='button' onclick="weather(this)" class='weather'>Weather</a>
              <a type='button' onclick="rss(this)" class='news'>News</a>
              <a type='button' onclick="message()">Message</a>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class='widget-rows'>
    <div class='three-widget-row'>
      <div class="flip">
        <div class="front">
          <div>Widget box 6
            <div class='widget'></div>
          </div>
        </div>
        <div class='back'>
          back
          <div class="dropdown">
            <button type='button' class="dropbtn">+</button>
            <div class="dropdown-content">
              <a type='button' onclick="clock(this)" class='clock'>Clock</a>
              <a type='button' onclick="weather(this)" class='weather'>Weather</a>
              <a type='button' onclick="rss(this)" class='news'>News</a>
              <a type='button' onclick="message()">Message</a>
            </div>
          </div>
        </div>
      </div>

      <div class="flip">
        <div class="front">
          <div>Widget box 7
            <div class='widget'></div>
          </div>
        </div>
        <div class='back'>
          back
          <div class="dropdown">
            <button type='button' class="dropbtn">+</button>
            <div class="dropdown-content">
              <a type='button' onclick="clock(this)" class='clock'>Clock</a>
              <a type='button' onclick="weather(this)" class='weather'>Weather</a>
              <a type='button' onclick="rss(this)" class='news'>News</a>
              <a type='button' onclick="message()">Message</a>
            </div>
          </div>
        </div>
      </div>
      <div class="flip">
        <div class="front">
          <div>Widget box 8
            <div class='widget'></div>
          </div>
        </div>
        <div class='back'>
          back
          <div class="dropdown">
            <button type='button' class="dropbtn">+</button>
            <div class="dropdown-content">
              <a type='button' onclick="clock(this)" class='clock'>Clock</a>
              <a type='button' onclick="weather(this)" class='weather'>Weather</a>
              <a type='button' onclick="rss(this)" class='news'>News</a>
              <a type='button' onclick="message()">Message</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="javascripts/jquery.flip.min.js"></script>
<script src="javascripts/main.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.simpleWeather/3.1.0/jquery.simpleWeather.min.js"></script>
